* {
  margin: 0;
  padding: 0;
}
.backgroundExterior {
  box-sizing: border-box;
  position: relative;
  width: 834px;
  height: 1194px;
  background: rgba(161, 240, 113, 0.94);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.backgroundInterior {
  position: absolute;
  width: 768px;
  height: 1124px;
  left: 34px;
  top: 35px;
  background: rgba(240, 209, 171, 0.94);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
img.logo {
  position: absolute;
  width: 394px;
  height: 152.91px;
  left: 220px;
  top: 80px;  
}
p.mensaje {
  position: absolute;
  width: 692px;
  height: 102px;
  left: 71px;
  top: 292px;
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  color: #000000;
}
.libreta_feliz {
  position: absolute;
  width: 450px;
  height: 450px;
  left: 192px;
  top: 437px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}
.btn_google {
  position: absolute;
  width: 382px;
  height: 92px;
  left: 226px;
  top: 954px;
}
.footer {
  position: absolute;
  width: 387px;
  height: 27px;
  left: 223px;
  top: 1112px;
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
img.exit {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 721px;
  top: 60px;  
}
img.agregar_nota {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 382px;
  top: 1053px;  
}
img.back {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 60px;
  top: 60px;
}
.backgroundNota {
  position: absolute;
  width: 582px;
  height: 503px;
  left: 126px;
  top: 449px;
  background: #E92EF0;
  border-radius: 10px;
}
.título {
  position: absolute;
  width: 450px;
  height: 55px;
  left: 55px;
  top: 25px;
  padding: 2%;
  font-size: 30px;
  background: rgba(237, 144, 240, 0.94);
  border-radius: 10px;
}
.contenido {
  position: absolute;
  width: 450px;
  height: 285px;
  left: 55px;
  top: 125px;
  padding: 2%;
  font-size: 30px;
  background: rgba(237, 144, 240, 0.94);
  border-radius: 30px;
}
input::placeholder{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.68);
  text-align: center;
}
textarea::placeholder{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.68);
  text-align: center;
}
.palomita {
  position: absolute;
  width: 55px;
  height: 47.36px;
  left: 260px;
  top: 445px;
}
h1 {
  font-size: 150px;
  position: absolute;
  width: 55px;
  height: 47.36px;
  left: 260px;
  top: 445px;
}
.containerFather {
  display: grid;
  position: absolute;
  margin-top: 340px;
  margin-left: 50px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  justify-content: end;
  align-items: flex-start;
  
  width: 700px;
  height: 650px;
  left: 33px;
  top: 35px;
  
}
.containerNote {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  align-items: space-around;
  width: 150px;
  height: 250px;
  /* left: 46px;
  top: 392px; */
  text-align: center;
  /* justify-self: center; */
  

}
.títuloInWall {  
  /* position: absolute; */
 
  width: 200px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  /* left: 46px;
  top: 396px; */
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  
  background: #E92EF0;
}
.textAreaInWall { 
  /* position: absolute; */
  width: 200px;
  height: 200px;
  font-size: medium;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
 
  /* left: 46px;
  top: 451.62px; */

  background: rgba(237, 144, 240, 0.94);
} 

.buttonDelete {
  background-image: url(./images/borrar_nota.png);
  /* position: absolute; */
  width: 30px;
  height: 30px;
  
  
  /* left: 245px;
  top: 641px; */
}
.buttonEdit {
  background-image: url(./images/editar_nota.png);
  /* position: absolute; */
  width: 30px;
  height: 30px;
 
/* 
  left: 59px;
  top: 641px; */
}